@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: var(--font-epilogue), "Epilogue", sans-serif;
  --font-sans: var(--font-epilogue), "Epilogue", sans-serif;

  --color-primary: #bd6d42;
  --color-background-light: #f8f7f6;
  --color-background-dark: #1e1814;
  --color-text-main: #161412;
  --color-text-muted: #81726a;

  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

html {
    scroll-behavior: smooth;
}

/* Utilities for scrollbar hiding */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
